*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./img/fundo_principal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(186, 186, 186);
    height: 100vh;
    overflow: hidden;
}

.jogar{
    margin-top: -400px;
    transition: 2s;
}

.jogar:hover{
    transition: 5s;
    margin-top: -398px;
    width: 500px;
    height: 164px;
}