*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/fundo_principal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(186, 186, 186);
    height: 100vh;
    overflow: hidden;
}

.jogar {
    margin-top: -160px;
    width: 450px;       /*tamanho base definido */
    height: 148px;      /*tamanho base definido */
    transition: transform 0.3s, width 0.3s, height 0.3s; /*transition na base */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jogar:hover {
    margin-top: -160px;
    transform: scale(1.08);  /*aumenta 8% suavemente */
    width: 500px;
    height: 164px;
}
.manual{
    margin-top: -100px;
    width: 450px;
    height: 148px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.manual:hover {
    transform: scale(1.08);
    width: 500px;
    height: 164px;
}